<div class="container my-3 ">

    <div class="jumbotron">
        <h1 class="display-4">About This App</h1>
        <p class="lead">This is a simple Todo-App In Angular</p>
        <hr class="my-4">
        <h2>Also Made Other Applications Visit :</h2>
        <hr class="my-4">
        <h5>ACME Products Application Using Angular</h5>
        <a class="btn btn-outline-primary" href="https://zaidsayed910.github.io/AngularApp/" role="button">ACME APP</a>
        <hr class="my-4">
        <h5>Weather Application Using Nodejs And Weather Api</h5>
        <a class="btn btn-outline-secondary" href="http://weatherapp-status.herokuapp.com/" role="button">Weather App</a>
        <hr class="my-4">
        <h5>To-do Application Using Nodejs And MongoDB</h5>
        <a class="btn btn-outline-warning" href="http://t0-do-app.herokuapp.com/" role="button">To-Do App</a>
        <hr class="my-4">
        <h5>Chat-Bot UI from Figma Design To Web Design</h5>
        <a class="btn btn-outline-danger" href="https://chat-botui.herokuapp.com/" role="button">Chat-Bot UI</a>
        <hr class="my-4">
    </div>
</div>
    